*{
	--grey:#262a10;
	--velvet:#283f3b;
}

body{
	margin:0;
	color:white;
	background-image:linear-gradient(45deg,rgba(32,21,53,0.85),rgba(211,53,12,0.85)),url(andrey-metelev-DEuansgqjns-unsplash.jpg);
	background-color:var(--grey);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	text-align:center;
	font-family: 'Syncopate', sans-serif;
}


.intro,.main,.exit{
	height:92vh;
}

/*
The front page of the game site
*/

.intro{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}

.intro .title{
	font-size:3rem;	
}

.game-container{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	width:100%;
	height:100%;
}

.button{
	display:block;
	padding:1.5rem;
	font-size:1.25rem;
	height:5rem;
	width:20%;
	color:white;
	font-family: 'Syncopate', sans-serif;
	background:rgba(255,255,255,0.5);
	border-radius:2.5rem;
}

.game-btn{
	width:30%;
}


@media(max-width:768px){
	.game-container{
		height:50%;
		align-items:flex-start;
	}
	
	.game-btn{
		width:50%;
	}
}

@media(max-width:600px){
	.game-container{
		flex-direction:column;
		justify-content:center;
		align-items:center;
		height:85%;
		width:100%;
	}
	
	.game-btn{
		width:80%;
	}
}

.button:hover{
	background:#556f44;
}

.rules-info{
	width:50%;
	height:50%;
}


.rules-info h2{
	font-size:2rem;
	text-decoration:underline;
}

.intro .rules-info p{
	font-size:1.5rem;
}


.intro .rules-info a{
	color:white;
	text-decoration:none;
}


@media(max-width:768px){
	.rules-info {
		transform:scale(0.5,0.5);
	}	
}


@media(max-width:600px){
	.rules-info {
		width:100%;
	}
}


.rules-info a:hover{
	color:burlywood;
}

/*
The main game page
*/

.main{
	display:none;
}

.main .main-container{
	clear:left;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	height:100%;
}


@media(max-width:768px){
	.main .back-btn{
		transform:scale(0.8,0.8);
	}

	.main .main-container{
		justify-content:center;
		height:90%;
		margin-top:2rem;
	}
}


@media(max-width:600px){
	.main .main-container{
		justify-content:space-evenly;
		height:100%;
		margin-top:0;
	}
}

.main .game-info{
	margin:0;
}

@media(max-width:768px){
	.main .game-info{
		margin-top:3rem;
	}
}



@media(max-width:600px){
	.main .game-info{
		margin:0;
	}
}
.main .back-btn{
	display:inline-block;
	float:left;
	font-size:1rem;
	padding:1rem;
	width:7.5rem;
	height:3rem;
	border-radius:1.5rem;
	border:none;
}

.main .score,.running-result{
	height:40%;
	width:100%;
}

.main .score{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
}

.main .score .running-score{
	display:flex;
	width:100%;
	justify-content:space-between;
}

.main .score .running-result{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

@media(max-width:768px){
	.main .score{
		justify-content:center;
		
	}
	
	.main .score .running-score{
		transform:scale(0.8,0.8);
	}
	
	.main .score .running-result{
		margin-top:2rem;
		margin-bottom:-5rem;
	}
	
	.main .score .running-result .move{
		transform:scale(0.5,0.5);
	}
}

@media(max-width:600px){
	.main .score{
		flex-direction:column;
		justify-content:space-between;
	}
	
	.main .score .running-score{
		display:flex;
		transform:scale(1,1);
	}

	.main .score .running-result{
		flex-direction:row;
		align-items:center;
		margin-bottom:0;
	}
	
	.main .score .running-result .move{
		transform:scale(0.7,0.7);
	}
}

.main .option-btn{
	background:rgba(255,255,255,0.5);
	border-radius:1rem;
	padding:1rem;
}

.main .icon{
	font-size:10rem;
	color:black;	
}

.main .option-btn p{
	color:black;
	font-size:1.5rem;
	font-family: 'Syncopate', sans-serif;
}

@media(max-width:768px){
	.options{
		transform:scale(0.35,0.35);
	}
}

@media(max-width:600px){
	.options{
		display:flex;
		justify-content:center;
		transform:scale(0.55,0.55);
	}
}

/*
last page of game site
*/

.exit{
	display:none;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
}

.exit .canvas{
	height:25%;
	font-size:4rem;
}


@media(max-width:768px){
	.exit .canvas{
		font-size:3rem;
	}
	
	.exit .retry-btn,.main-btn{
		width:30%;

	}
}


@media(max-width:600px){
	.exit .canvas{
		font-size:2rem;
	}
	
	.exit .retry-btn,.main-btn{
		width:50%;
	}
}

.footer{
	display:flex;
	align-items:center;
	height:8vh;
	color:white;
}
